 .autoExam {
    padding: 15px;
}
.autoExam {
    margin-top: 30px;
    background: white;
    border: 1px solid #e6ebef;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    height: 300px;
}
.examModul {
    padding-top: 30px;
    padding-bottom: 40px;
}
.green-btn {
    background: #2c7b30;
    color: #d2fed4;
}
.tp-btn {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.autoExam a, .autoExam button {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 15px;
}