<head>
      <link rel="stylesheet" href="./css/style_1.css">
        <link rel="stylesheet" href="./css/style_2.css">
        <link rel="stylesheet" href="./css/style_3.css">
        <link rel="stylesheet" href="./css/style_4.css">
        <link rel="stylesheet" href="./css/style_5.css">   
        <link rel="stylesheet" href="./css/style_6.css"> 
        <style type="text/css">.emojione-paragraph svg{width:15px;height:15px;position:relative;top:3.5px}</style>
</head>
<body>
    <div class="hero-unit">
        <div class="container">
             <div class="hero-unit-container">
                <h1>
                    <span class="t-one">Tạo và</span>
                    <span class="t-two">làm bài</span>
                    <span class="t-three">đề thi trắc nghiệm</span>
                    <span class="t-four">trực tuyến</span>
                </h1>
                <div class="keywords-suggest">
                    <a href="/news">click tạo đề thi</a>
                    <a href="/search?search=đề thi vật lý đại học">đề thi vật lý đại học</a>
                    <a href="/search?search=tuyển dụng lập trình">lập trình viên</a>
                    <a href="/search?search=đề thi hóa BookGol">đề thi hóa học</a>
                </div>
            </div>
        </div>
   </div>
   <div class="container">
       <div class="col-xs-12 col-md-6">
           <div class="home-categories">
               <div class="home-categories-container">
                   <h4 class="title">
                       <div class="emojione-paragraph undefined">Chuyên mục hot 
                           <svg class="emojione">
                               <description>😍</description>
                               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/emojione.sprites.svg#emoji-1f60d"></use>
                            </svg>
                        </div>
                    </h4>
                    <div class="cloud"></div>
                    <div class="book-yellow">
                        <img src="/images/book_yellow.png" alt="Book">
                    </div>
                    <div class="book-red">
                        <img src="/images/book_red.png" alt="Book red">
                    </div>
                    <div class="categories">
                        <a class="category" ng-click="goquiz(monhoc[1].Id,monhoc[1].Name)">
                            <div class="category-container yellow">
                                <i class="icon icon-calculator"></i>
                                <span class="text">{{monhoc[1].Name}}</span>
                            </div>
                        </a>
                        <a class="category" ng-click="goquiz(monhoc[3].Id,monhoc[3].Name)">
                            <div class="category-container purple">
                                <i class="icon icon-speedometer"></i>
                                <span class="text">{{monhoc[3].Name}}</span>
                            </div>
                        </a>
                        <a class="category" ng-click="goquiz(monhoc[0].Id,monhoc[0].Name)">
                            <div class="category-container green">
                                <i class="icon icon-chemistry"></i>
                                <span class="text">{{monhoc[0].Name}}</span>
                            </div>
                        </a>
                        <a class="category" ng-click="goquiz(monhoc[5].Id,monhoc[5].Name)">
                            <div class="category-container pink">
                                <i class="icon icon-graph"></i>
                                <span class="text">{{monhoc[5].Name}}</span>
                            </div></a>
                        <a class="category" ng-click="goquiz(monhoc[2].Id,monhoc[2].Name)">
                            <div class="category-container red">
                                <i class="icon icon-graduation"></i>
                                <span class="text">{{monhoc[2].Name}}</span>
                            </div>
                        </a>
                        <a class="category" ng-click="goquiz(monhoc[4].Id,monhoc[4].Name)">
                            <div class="category-container orange">
                                <i class="icon icon-t fa fa-code"></i>
                                <span class="text">{{monhoc[4].Name}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="featured-sliders">
                <div class="featured-sliders-container">
                    <div class="slick-initialized slick-slider sliders">
                        <div class="slick-list">
                            <div class="slick-track" style="opacity: 1; transform: translate3d(-555px, 0px, 0px); width: 2775px;">
                                <a class="slick-slide slider" data-index="1" tabindex="-1" style="outline: none; width: 555px;">
                                    <img src="/images/sliders/slider_2.png" alt="6 đề  thi trắc nghiệm hàm số">
                                </a>
                                <a class="slick-slide slider" data-index="2" tabindex="-1" href="/playlists/Tong-hop-cac-de-thi-trac-nghiem-co-ban-cho-nguoi-moi-hoc-HTML-JS-8jOzq" style="outline: none; width: 555px;">
                                    <img src="/images/sliders/slider_1.png" alt="Tổng hợp các đề thi trắc nghiệm cơ bản cho người mới học HTML, JS, CSS">
                                </a>
                            </div>
                        </div>
                        <div class="top-quizs">
                               <h4><div class="emojione-paragraph undefined"><svg class="emojione"><description>🏆</description><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/emojione.sprites.svg#emoji-1f3c6"></use></svg> Top người thi điểm cao</div></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</body>
